html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#sss {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */

@media only screen and (max-width: 1170px),(min-width: 407px) {
#monkey{
  position: absolute;
  top: 800;
  right: 0;
    }
}
